/* Themes */
.primary {
    background-color: var(--primary);
    color: var(--neutral);
}
.primary:hover {
    background-color: var(--primary-dark);
}
.secondary {
    background-color: var(--secondary);
    color: var(--neutral);
}
.secondary:hover {
    background-color: var(--secondary-dark);
}
.tertiary {
    background-color: var(--tertiary-dark);
    color: var(--tertiary-light);
}
.tertiary:hover {
    color: var(--neutral);
}

/* SquareButton */
.squareButton button {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    width: 30vw;
    height: 30vh;
}
.squareButton button:hover {
    scale: 1.05;
    transition: all ease-in 0.05s;
}