.primary {
    background-color: var(--primary);
    color: var(--neutral);
}
.primary-load {
    background-color: var(--primary-light);
}
.primary:hover {
    background-color: var(--primary-dark);
}
.secondary {
    background-color: var(--secondary);
    color: var(--neutral);
}
.secondary-load {
    background-color: var(--secondary-light);
}
.secondary:hover {
    background-color: var(--secondary-dark);
}


/* SubmitButton */
.submitButton {
    border: none;
    border-radius: 0.6rem;
    width: 90%;
    height: 7vh;
}
.submitButton:hover {
    transition: all ease-in 0.05    s;
}


/* TextField */
.textField {
    box-sizing: border-box;
    margin-top: 0.5rem;
    border: 1px solid var(--tertiary-light);
    background-color: var(--tertiary-dark);
    padding: 1rem;
    width: 90%;
    color: var(--tertiary-light);
}


/* TextAreaField */
.textAreaField {
    width: 90%;
}
.textAreaPlaceholder {
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: -4px;
    border: 1px solid var(--tertiary-light);
    background-color: var(--tertiary-dark);
    padding: 1rem;
    width: 100%;
    height: 36vh;
    color: var(--tertiary-light);
}


/* FormCloseButton */
.formCloseButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center ;
    width: 100%;
    text-decoration: none;
}
.formCloseButton a {
    color: var(--tertiary-light);
    text-decoration: none;
}
.formCloseButton a:hover {
    scale: 1.1;
    transition: all ease-in 0.1s;
    color: white;
}